.BookCardContainer{
    max-width: 310px;
    height:500px;
    margin: auto;
}
.BookCardImage{
    height: 350px !important;
    max-width: 310px;
}
.BookCardDescription{
    overflow-wrap: break-word;
}
